body {
  font-family: 'Lato', sans-serif !important;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
